html {
    height: 100%;
    
    background: url('/diamond_block.png');
    background-position: center center;
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: 100px; 
    overflow: hidden;
    animation: sigma 20s infinite linear;
    background-attachment: scroll !important;
}
@keyframes sigma {
    from {
        background-position-y: 0px;
    }
    to {
        background-position-y: -100px;
    }
}
.red {
    color: rgb(255, 103, 103);
}
.blu {
    color:rgb(0, 81, 255);
}
.main {
    color: rgb(255, 204, 109);
}
@keyframes aha {
    from {
        bottom: -500px;
    }
    to {
        bottom: 30px;
    }

}
.img {
    max-height: 7.2vw;
    max-width: 100%;
    object-fit: contain;
    vertical-align: middle;
    margin: 10px 20px;
}
.side {
    flex: 0 0 30%;
    text-align: right;
}
.side2 {
    flex: 1;
    text-align: left;
}
.clas {
     display: flex; 
}
.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.397);
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
}
h1 {
    font-size: 150%;
    padding: 0;
    margin: 0;
}
.lowop {
    opacity: 0.2;
}
.credtext {
    font-size: 1.6vw;
    font-family: 'Mc2';
    animation: aha 8s ease-out forwards;
    color: white;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: -100%;
    filter:drop-shadow(0.3vw 0.3vw black);
    overflow: hidden;
}