html {
    height: 100%;
    
    background: url('/diamond_block.png');
    background-position: center center;
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: 100px; 
    overflow: hidden !important;
    animation: sigma 240s linear forwards;
    background-attachment: scroll !important;
}
body {
    overflow: hidden !important;
}
@keyframes sigma {
    from {
        background-position-y: 0px;
    }
    to {
        background-position-y: -300vw;
    }
}
.red {
    color: rgb(255, 119, 119);
}
.blu {
    background: linear-gradient(45deg, white, rgb(165, 229, 255));
    color:transparent;
    background-clip: text;
    font-weight: bold;
}
.main {
    color: rgb(255, 214, 137);
}
@keyframes aha {
    from {
        bottom: -350vw;
    }
    to {
        bottom: 80vw;
    }

}
.img {
    max-height: 7.2vw;
    max-width: 15vw;
    object-fit: contain;
    vertical-align: middle;
    margin: 10px 20px;
}
.side {
    flex: 0 0 30%;
    text-align: right;
}
.side2 {
    flex: 1;
    text-align: left;
}
.clas {
     display: flex; 
}
.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.623);
    width: 100vw;
    height: 100vh;
    top: 0;
    left:0;
}
h1 {
    font-size: 150%;
    padding: 0;
    margin: 0;
}
.lowop {
    opacity: 0.2;
}
.credtext {
    font-size: 1.6vw;
    font-family: 'Mc2';
    animation: aha 240s linear forwards;
    color: white;
    text-align: center;
    position: absolute;
    width: 100vw;
    bottom: -100%;
    filter:drop-shadow(0.3vw 0.3vw black);
    overflow: hidden;
}