* {
    scroll-behavior:smooth;
    scrollbar-width: none;
}
.scrolldiv {
    width: 100%;
    overflow: hidden;
    background: rgb(255, 0, 0);
    color: white;
    white-space: nowrap;
    box-sizing: border-box;
}
*::selection {
    background: rgba(0, 121, 158, 0.397);
    text-decoration: underline;
    text-decoration-color: rgb(0, 183, 255);
    font-style: italic;
    text-shadow: 0px 0px 3px white, 0px 0px 6px white;
}
*[style*="rgbAnimation"] {
will-change: color, text-shadow;
}
*[style*="rgbimg"] {
will-change: filter;
}
@keyframes rgbAnimation {
                0% {
                        color: rgb(255, 41, 41);
                }

                13% {
                        color: rgb(0, 255, 0);
                }

                25% {
                        color: rgb(0, 0, 255);
                }

                38% {
                        color: rgb(255, 255, 0);
                }

                50% {
                        color: rgb(255, 0, 255);
                }

                63% {
                        color: rgb(255, 255, 0);
                }

                75% {
                        color: rgb(0, 0, 255);
                }

                88% {
                        color: rgb(0, 255, 0);
                }

                100% {
                        color: rgb(255, 0, 0);
                }

        }

@keyframes rgbimg {
                from {
                        filter: hue-rotate(0deg);
                }

                to {

                        filter: hue-rotate(360deg);
                }

        }
@keyframes dimerto {
    0% {
    }
    50% {
        filter:drop-shadow(0px 0px 4px rgb(84, 172, 255));
        color: rgb(36, 211, 255);
    }
    100% {

    }
}
@keyframes dimerto2 {
    0% {
    }
    50% {
    color: rgb(255, 221, 159);
    filter:drop-shadow(0px 0px 4px #ffc353);
    }
    100% {

    }
}

@keyframes dimerto1 {
    0% {
    }
    50% {
    color: rgb(200, 106, 255);
    filter:drop-shadow(0px 0px 4px #a200ff);
    }
    100% {

    }
}

@keyframes dimerto3 {
    0% {
    }
    50% {
    color: rgb(255, 96, 96);
    filter:drop-shadow(0px 0px 4px #8d0000);
    }
    100% {

    }
}
@keyframes dimerto4 {
    0% {
    }
    50% {
    color: rgb(255, 255, 255);
    filter:drop-shadow(0px 0px 4px #ffffff);
    }
    100% {

    }
}
.sigmahover {
    all:unset;
      will-change: color, filter;
    color: rgb(146, 213, 255);
    animation: dimerto 1s infinite ease;
    transition: filter color 0.1s ease;
}
.grab:hover {
    cursor: grab;
}
.sigmahover:hover {
      will-change: color, filter;
    color: #4dbbff !important; 
    filter:drop-shadow(0px 0px 4px rgb(84, 84, 255)) !important;
    transition: filter color 0.1s ease;
        
}
.nuhuh:hover {
    cursor :not-allowed;
}
.sigmahover1 {
    all:unset;
    color: rgb(255, 212, 132);
      will-change: color, filter;
    animation: dimerto2 2s infinite ease;
    transition: filter color 0.1s ease;
}
.sigmahover1:hover {
    color: rgb(255, 187, 0) !important; 
        
    filter:drop-shadow(0px 0px 4px rgb(255, 200, 98)) !important;
      will-change: color, filter;
    transition: filter color 0.1s ease;
}

.sigmahover2 {
    all:unset;
    color: rgb(206, 83, 255);
    animation: dimerto1 2.6s infinite ease;
      will-change: color, filter;
    transition: filter color 0.1s ease;
}
.sigmahover2:hover {
    color: rgb(174, 0, 255) !important; 
    filter:drop-shadow(0px 0px 4px rgb(162, 0, 255)) !important;
      will-change: color, filter;
    transition: filter color 0.1s ease;
}
.sigmahover3 {
    all:unset;
    color: rgb(219, 0, 0);
    animation: dimerto3 2.6s infinite ease;
      will-change: color, filter;
    transition: filter color 0.1s ease;
}
.sigmahover3:hover {
    color: rgb(255, 70, 70) !important; 
    filter:drop-shadow(0px 0px 4px rgb(121, 0, 0)) !important;
      will-change: color, filter;
    transition: filter color 0.1s ease;
}
.sigmahover3 {
    all:unset;
    color: rgb(226, 226, 226);
    animation: dimerto4 2.6s infinite ease;
      will-change: color, filter;
    transition: filter color 0.1s ease;
}
.sigmahover3:hover {
    color: rgb(255, 255, 255) !important; 
    filter:drop-shadow(0px 0px 4px rgb(255, 255, 255)) !important;
      will-change: color, filter;
    transition: filter color 0.1s ease;
}
.sigmaxxx {
  animation: sigmazc 1s forwards; 
}
@keyframes sigmazc {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
    background: transparent;
    visibility: hidden;
  }
}
input[type="checkbox"] 
{
    background-image: url("/chkdef.png");
    appearance: none;      
    filter: drop-shadow(3px 3px 0px black );
    height: 20px;
    width: 20px;
    margin: auto 0;
    background-size: cover;
}
input[type="checkbox"]:checked
{
    background-image: url("/chkchkd.png");
    background-size: cover;

}

input[type="radio"] 
{
    background-image: url("/chkdef.png");
    appearance: none;      
    height: 20px;
    filter: drop-shadow(3px 3px 0px black );
    width: 20px;
    margin: auto 0;
    background-size: cover;
}
input[type="radio"]:checked
{
    transition: background-image 0.3s;
    background-image: url("/chkchkd.png");
    background-size: cover;
}
#somethingz:hover  {
                background: #a86500;
                transition: background-color 0.3s;
        }
        #somethingz::after  {
                background: #a86500;
                width: 80%;
                height: 80%;
                transition: width height 0.3s;
        }
        #somethingz:active  {
                background: #a86500;
                width: 80%;
                height: 80%;
                transition: width height 0.3s;
        }
        #somethingz {
                display: flex; 
                align-items: center; 
                
                justify-content: center; 
                gap: 4px;   
                background: #ffab2d; 
                text-decoration: none !important; 
                text-decoration-line: none !important; 
                font-size: 18px !important; 
                padding: 7px 13px; 
                text-align: center; 
                width: 100%;
                height: 100%;
                transition: background-color width height 0.5s;
                outline: 4px solid #ff9900;
                outline-offset: -4px;
                max-width: fit-content; 
                margin: auto; 
                border-radius: 10px 10px 10px 10px; 
                filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 1));
        }
.scrolltext {
    display: inline-block;
    padding-left: 100%;
    color: white;
    text-shadow: black 3px 3px;
    animation: scroll-left 45s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@font-face {
    font-family: 'Minecraft';
    
    src: url('/Minecraftchmc-dBlX.ttf') format('truetype');
    font-weight: normal;
    
    font-style: normal;
    
}
@font-face {
    font-family: '95w';
    src: url('/W95FA.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '7seg';
    
    src: url('/Segment7Standard.otf') format('opentype');
    font-weight: normal;
    
    font-style: normal;
    
}

@font-face {
    font-family: 'merriweather';
    
    src: url('/Merriweather-Regular.ttf') format('truetype');
    font-weight: normal;
    
    font-style: normal;
    
}

@font-face {
    font-family: 'ArialNova';
    src: url('/ARIALNOVA.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TimesNewRoman';
    src: url('/TIMES.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ArialPixel';
    src: url('/ARIAL-PIXEL.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NikkYou';
    src: url('/NikkyouSans-mLKax.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '04b03';
    src: url('/04b03.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mc2';
    src: url('/MINECRAFTREGULAR-BMG3.OTF') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Mc2';
    src: url('/MINECRAFTBOLD-NMK1.OTF') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Mc2';
    src: url('/MINECRAFTITALIC-R8MO.OTF') format('opentype');
    font-weight: 400;
    font-style: italic;
}
  .splash {
    position:absolute;
    display:flex;
    transform:  scale(0.6) rotate(30deg);
    text-align: left;
    justify-self: left;
    color: yellow;
    transform-origin: left bottom;
    align-items: center;
    bottom: 80%;
    left: 60%;
    font-family: "Minecraft";
    font-size: 60px;
    pointer-events: none; 
    animation: splashPulse 2s ease-in-out infinite;
    user-select: none;
    white-space: nowrap;
    z-index: 2;
  }

  @keyframes splashPulse {
  0%, 100% {
    transform: scale(0.6) rotate(30deg);
  }
  50% {
    transform:  scale(0.35) rotate(30deg);
  }
}

@font-face {
    font-family: 'Mc2';
    src: url('/MINECRAFTBOLDITALIC-1Y1E.OTF') format('opentype');
    font-weight: 700;
    font-style: italic;
}

.flag {
    box-shadow: -2px 2px black, 0px 0px 3px black, 0px 0px 3px black, 0px 0px 3px black;
    outline: 1px black solid;
    object-fit: contain;
}

.orangehover:hover {
    color: lightblue;
    cursor: grab;
}
.orangehover {
    text-decoration: none;
}
@font-face {
    font-family: 'VCR OSD Mono'; 
    src: url('/VCR_OSD_MONO.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;  
}
@font-face {
    font-family: 'Comic Sans MS'; 
    src: url('/Comic Sans MS.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;  
}
@font-face {
    font-family: 'Comic Sans MS'; 
    src: url('/COMICI.TTF') format('truetype');
    font-weight: normal; 
    font-style: italic;  
}
@font-face {
    font-family: 'Comic Sans MS'; 
    src: url('/COMICBD.TTF') format('truetype');
    font-weight: bold; 
    font-style: normal;  
}
@font-face {
    font-family: 'Comic Sans MS'; 
    src: url('/COMICZ.TTF') format('truetype');
    font-weight: bold; 
    font-style: italic;  
}
@font-face {
    font-family: 'Helvetica'; 
    src: url('/hel.TTF') format('truetype');
    font-weight: normal; 
    font-style: normal;  
}
@font-face {
    font-family: 'Helvetica'; 
    src: url('/helita.TTF') format('truetype');
    font-weight: normal; 
    font-style: italic;  
}
@font-face {
    font-family: 'Helvetica'; 
    src: url('/helbold.TTF') format('truetype');
    font-weight: bold; 
    font-style: normal;  
}
@font-face {
    font-family: 'Helvetica'; 
    src: url('/helboldita.TTF') format('truetype');
    font-weight: bold; 
    font-style: italic;  
}
html {
    padding-bottom: env(safe-area-inset-bottom);
}