html {
    height: 100%;
    padding: 20px;
    margin: 20px;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: scroll !important;
    /*background: linear-gradient(45deg, rgba(54, 0, 153, 1) 0%, rgba(0, 0, 0, 255) 100%);*/
}

html {
    background-image: url("niceshit.gif") !important;
}

.card1 {
        transition: background 0.2s ease, border-radius 0.2s ease, box-shadow 0.2s ease;

        
}

*[style*="rgbAnimation"], .rgbadd {
    all: unset;
    color: white;
    filter: drop-shadow(
    0 0 4px currentColor);
}
*[style*="rgbAnimation"]:hover, .rgbadd:hover {
    filter: drop-shadow(
    0 0 4px currentColor) brightness(0.8);
}
.crossed
{
    all:unset; text-decoration:line-through; text-decoration-thickness: 3px;
}

.n {
    font-family: 'Comic Sans MS';
}
.card1:hover {
    
    background: rgba(255, 0, 0, 0.342);
    animation: rgbimg 5s linear infinite;
    transition: animation, filter, background 3s;
    filter: drop-shadow(0 0 5px white);
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    transition: background 0.2s ease, box-shadow 0.2s ease;
}
.card1 {
    transition: animation, filter, background 3s;
    border-radius: 20px;
}
.scaledpl {
    width: clamp(300px, 20vw, 1000px);
    height: auto;
    display: block;
    margin: 0 auto 1rem;
}
*,html,body,h1,h2,h3,h4,h5,h6,div,p,a {
    font-family: "Comic Sans MS";
}
* {
    font-size: 130%;
    color: white;
    background: none;
    text-shadow: black 3px 3px;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0px !important;
}
