html,
body {
    height: 100%;
    padding: 20px;
    margin: 20px;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: scroll !important;
    /*background: linear-gradient(45deg, rgba(54, 0, 153, 1) 0%, rgba(0, 0, 0, 255) 100%);*/
}

html {
    background-image: url("nice shit.gif") !important;
}

.card1 {
        transition: background 0.2s ease-in-out, border-radius 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

        
}
.sigmahover {
    all:unset;
    color: rgb(146, 213, 255);
    transition: filter 0.1s ease-in-out;
}
.sigmahover:hover {
    color: #4dbbff; cursor: grab;
    filter:drop-shadow(0px 0px 4px rgb(84, 84, 255));
    transition: filter 0.1s ease-in-out;
        
}
.crossed
{
    all:unset; text-decoration:line-through; text-decoration-thickness: 3px;
}
.sigmahover1 {
    all:unset;
    color: rgb(255, 212, 132);
    transition: filter 0.1s ease-in-out;
}
.sigmahover1:hover {
    color: rgb(255, 187, 0); cursor: grab;
        
    filter:drop-shadow(0px 0px 4px rgb(255, 200, 98));
    transition: filter 0.1s ease-in-out;
}

.n {
    font-family: 'Comic Sans MS';
}
.card1:hover {
    
    background: rgba(0, 0, 0, 0.342);
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    transition: background 0.2s ease-in-out, border-radius 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.scaledpl {
    width: clamp(300px, 20vw, 1000px);
    height: auto;
    display: block;
    margin: 0 auto 1rem;
}
*,html,body,h1,h2,h3,h4,h5,h6,div,p,a {
    font-family: "Comic Sans MS";
}
* {
    font-size: 130%;
    color: white;
    background: none;
    text-shadow: black 3px 3px;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0px !important;
}
