html,
body {
    height: 100%;
    padding: 20px;
    margin: 20px;
    
    background-repeat:round;
    background-attachment: scroll !important;
    /*background: linear-gradient(45deg, rgba(54, 0, 153, 1) 0%, rgba(0, 0, 0, 255) 100%);*/
}
html { 
    background-image: url("source.gif") !important;
}
.flag {
    box-shadow: -2px 2px black, 0px 0px 3px black, 0px 0px 3px black, 0px 0px 3px black;
    outline: 1px black solid;
}
#slavaboat {
    font-family: "Comic Sans MS";
    font-size: 300% !important;
    color: white;
    text-shadow: black 3px 3px;
    text-align: center;
    position: relative;
}
.orangehover:hover {
    color:lightblue;
    cursor:grab;
}
.lightblue {
    color:lightblue;
}
.lightblue:hover {
    color: blue;
    cursor: grab;
}

@font-face {
    font-family: 'VCR OSD Mono'; /* Name you choose for your font */
    src: url('VCR_OSD_MONO.ttf') format('truetype');
    font-weight: normal; /* Optional, specify weight */
    font-style: normal;  /* Optional, specify style */
}
@keyframes splashPulse {
  0%, 100% {
    transform: translateX(-50%) scale(1) rotate(45deg);
  }
  50% {
    transform: translateX(-50%) scale(0.8) rotate(45deg);
  }
}

@font-face {
    font-family: 'Minecvraft';
    /* Name you choose for your font */
    src: url('Minecraftchmc-dBlX.ttf') format('truetype');
    font-weight: normal;
    /* Optional, specify weight */
    font-style: normal;
    /* Optional, specify style */
}
  .splash {
    position: absolute;
    top: -5.5rem;       /* position above the link */
    left: 50%;
    transform: translateX(-50%) rotate(45deg) scale(1);
    color: yellow;
    font-family: "Minecraft";
    font-size: 2rem;
    pointer-events: none; /* so it doesn’t block clicks */
    transform-origin: center center;
    animation: splashPulse 2s ease-in-out infinite;
    user-select: none;
    white-space: nowrap;
    z-index: 2;
  }
* {
    font-family: "Comic Sans MS";
    font-size: 130%; 
    color: white;
    background: none;
    text-shadow: black 3px 3px;
    text-align: center;
}
sub {
    font-size: 70%; 
}
h2 {
    font-size: 250%; 
    margin: 0px;
    padding: 0px;
}
.headersex {
    font-family: "Comic Sans MS";
    font-size: 200%; 
    color: white;
    text-shadow: black 3px 3px;
    text-shadow: white 0px 0px 3px;
    cursor: default;
    text-decoration: none;
    text-shadow: white 0px 0px 3px;
    text-align: center;
}
.headersex:hover {
    font-family: "Comic Sans MS";
    font-size: 200%; 
    text-decoration: none;
    color: white;
    cursor: default;
    text-shadow: black 3px 3px;
    text-shadow: white 0px 0px 3px;
    text-shadow: white 0px 0px 3px;
    text-align: center;
}
.headersex2 {
    font-family: "VCR OSD Mono";
    font-size: 300%; 
    color: white;
    text-shadow: black 3px 3px;
    text-shadow: black 0px 0px 3px;
    text-shadow: black 0px 0px 5px;
    text-shadow: black 0px 0px 5px;
    text-align: center;
}
