html,
body {
    height: 100%;
    padding: 20px;
    margin: 20px;
    
    background-repeat:round;
    background-attachment: scroll !important;
    /*background: linear-gradient(45deg, rgba(54, 0, 153, 1) 0%, rgba(0, 0, 0, 255) 100%);*/
}
html { 
    background-image: url("source.gif") !important;
}
@keyframes glowingpulse {
  0% {
    filter: 
    drop-shadow( 0 0 10px rgba(255, 255, 255, 0.486));
  }
  50% {
    filter: 
    drop-shadow( 0 0 10px rgba(255, 255, 255, 0.486))
    drop-shadow( 0 0 5px rgba(255, 255, 255, 0.651))
    drop-shadow( 0 0 20px rgba(255, 255, 255, 0.404)) blur(2px);
  }
  100% {
    filter: 
    drop-shadow( 0 0 10px rgba(255, 255, 255, 0.486));

  }
}

.flag {
    box-shadow: -2px 2px black, 0px 0px 3px black, 0px 0px 3px black, 0px 0px 3px black;
    outline: 1px black solid;
}
#slavaboat {
    font-family: "Comic Sans MS";
    font-size: 300% !important;
    color: white;
    text-shadow: black 3px 3px;
    text-align: center;
    position: relative;
}
.orangehover:hover {
    color:lightblue;
    cursor:grab;
}
.orangez {
    color:#ffe2b7;
}
.orangez:hover {
    color: rgb(255, 204, 65);
    cursor: grab;
}
.lightblue {
    color:lightblue;
}
.lightblue:hover {
    color: rgb(0, 119, 255);
    cursor: grab;
}
p {
    margin: 0;
    padding: 0;
}
/* incase you want to revert to oldschool style dates, remove this p thing*/

* {
    font-family: "Comic Sans MS";
    font-size: 130%; 
    color: white;
    background: none;
    text-shadow: black 3px 3px;
    text-align: center;
}
sub {
    font-size: 70%; 
}
h2 {
    font-size: 250%; 
    margin: 0px;
    padding: 0px;
}
.headersex {
    font-family: "Comic Sans MS";
    font-size: 200%; 
    color: white;
    text-shadow: black 3px 3px;
    text-shadow: white 0px 0px 3px;
    cursor: default;
    text-decoration: none;
    text-shadow: white 0px 0px 3px;
    text-align: center;
}
.headersex:hover {
    font-family: "Comic Sans MS";
    font-size: 200%; 
    text-decoration: none;
    color: white;
    cursor: default;
    text-shadow: black 3px 3px;
    text-shadow: white 0px 0px 3px;
    text-shadow: white 0px 0px 3px;
    text-align: center;
}
.headersex2 {
    font-family: "VCR OSD Mono";
    font-size: 300%; 
    color: white;
    text-shadow: black 3px 3px;
    text-shadow: black 0px 0px 3px;
    text-shadow: black 0px 0px 5px;
    text-shadow: black 0px 0px 5px;
    text-align: center;
}
