html,
body {
    height: 100%;
    padding: 20px;
    margin: 20px;
    
    background-repeat:no-repeat;
    background-attachment: scroll !important;
    /*background: linear-gradient(45deg, rgba(54, 0, 153, 1) 0%, rgba(0, 0, 0, 255) 100%);*/
}
html { 
    background-image: url("nyanshitrealtalk.gif") !important;
}
@font-face {
    font-family: 'VCR OSD Mono'; /* Name you choose for your font */
    src: url('VCR_OSD_MONO.ttf') format('truetype');
    font-weight: normal; /* Optional, specify weight */
    font-style: normal;  /* Optional, specify style */
}
* {
    font-family: "VCR Mono OSD";
    font-size: 130%; 
    color: white;
    background: none;
    text-shadow: black 3px 3px;
    text-align: left;
}