html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: url("source.gif");
    background-repeat:round;
    background-attachment: scroll !important;
    /*background: linear-gradient(45deg, rgba(54, 0, 153, 1) 0%, rgba(0, 0, 0, 255) 100%);*/
}
.flag {
    box-shadow: -2px 2px black, 0px 0px 3px black, 0px 0px 3px black, 0px 0px 3px black;
    outline: 1px black solid;
}
#slavaboat {
    font-family: "Comic Sans MS";
    font-size: 300% !important;
    color: white;
    text-shadow: black 3px 3px;
    text-align: center;
}
.orangehover:hover {
    color:lightblue;
    cursor:grab;
}
.lightblue {
    color:lightblue;
}
.lightblue:hover {
    color: blue;
    cursor: grab;
}

@font-face {
    font-family: 'VCR OSD Mono'; /* Name you choose for your font */
    src: url('VCR_OSD_MONO.ttf') format('truetype');
    font-weight: normal; /* Optional, specify weight */
    font-style: normal;  /* Optional, specify style */
}
* {
    font-family: "Comic Sans MS";
    font-size: 130%; 
    color: white;
    text-shadow: black 3px 3px;
    text-align: center;
}
sub {
    font-size: 70%; 
}
h2 {
    font-size: 250%; 
    margin: 0px;
    padding: 0px;
}
.headersex {
    font-family: "Comic Sans MS";
    font-size: 200%; 
    color: white;
    text-shadow: black 3px 3px;
    text-shadow: white 0px 0px 3px;
    text-shadow: white 0px 0px 3px;
    text-align: center;
}
.headersex2 {
    font-family: "VCR OSD Mono";
    font-size: 300%; 
    color: white;
    text-shadow: black 3px 3px;
    text-shadow: black 0px 0px 3px;
    text-shadow: black 0px 0px 5px;
    text-shadow: black 0px 0px 5px;
    text-align: center;
}
