html,
body {
    height: 100%;
    
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: scroll !important;
    /*background: linear-gradient(45deg, rgba(54, 0, 153, 1) 0%, rgba(0, 0, 0, 255) 100%);*/
}
th, tr, td {
    outline: 4px rgba(255, 255, 255, 0.342) solid;
    padding: 5px;
    
}
table {
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    padding: 5px;
}
.overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0 0 0 0;
      padding:  0 0 0 0;
      background: linear-gradient(180deg,rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.9) 100%);
    }
html {
    background-image: url("/crying_obsidian.png") !important;
    z-index: 0;
    background-size: 50px;
    background-repeat: repeat;
    padding: 20px;
    margin: 20px;
}
.mz {
    position: absolute; width: 300px; object-fit: contain; outline: 5px rgb(102, 0, 0) solid;
}
.sigmahoverlore
{
    color: #c300ff;
}
.sigmahoverlore:hover {
    color:#8000a7
}

* {
    font-family: "Mc2";
    position: relative;
    color: white;
    background: none;
    text-shadow: black 3px 3px;
    z-index: 2;
}
body {
    font-size: 40px;
}
h1 {

    margin: 0 !important; 
    gap: 0 !important;
    padding: 0 !important;
    text-align: center;
    font-size: 140%;
}