html,
body {
    height: 100%;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: scroll !important;
    /*background: linear-gradient(45deg, rgba(54, 0, 153, 1) 0%, rgba(0, 0, 0, 255) 100%);*/
}
html {
    padding: 15px;
}
table {
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.479);
}
td,th {
    outline: 4px rgb(89, 0, 124) solid;
    padding: 5px;
    font-size: 24px;
}
.shadow {
    filter: drop-shadow(4px 4px 0 black);
    border: rgba(25, 0, 39, 0.493) 3px solid;
}
table tr:nth-child(even) {
  background: linear-gradient(45deg, rgba(128, 0, 128, 0.37), rgba(32, 0, 92, 0.308));
}
table tr:nth-child(odd) {
  background: rgba(0, 0, 0, 0.301); 
}
ol {
    text-align: left;
}
li {
    text-shadow: unset !important;
    color: unset !important;
}
.overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0 0 0 0;
      padding:  0 0 0 0;
      background: linear-gradient(180deg,rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.7) 100%);
    }
html {
    background-image: url("/gl2.gif") !important;
    z-index: 0;
    background-size: 100%;
    background-repeat: repeat;
}

* {
    font-family: "95w", "w95", "w95fa";
    text-shadow: 2px 2px 0px rgb(81, 0, 128), -2px -2px 0px rgb(14, 0, 138), 0 0 8px white !important;
    position: relative;
    color: white;
    background: none;
    text-shadow: black 3px 3px;
    z-index: 2;
}
body {
    font-size: 40px;
}
h1,h2,h3,h4,h5,h6 {
margin: 0 !important; 
    gap: 0 !important;
    padding: 0 !important;
}
hr {
    width: 80%;
    border: none;
    height: 4px;
    margin: 8px 0 4px 0;
    background: linear-gradient(45deg, rgb(92, 0, 153), transparent)
}
h1 {

    text-align: center;
        font-size: 140%;

}
h2 {

        font-size: 120%;

}