html,
body {
    height: 100%;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: scroll !important;
    /*background: linear-gradient(45deg, rgba(54, 0, 153, 1) 0%, rgba(0, 0, 0, 255) 100%);*/
}
html {
    padding: 15px;
}
table {
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.479);
}
td,th {
    outline: 4px rgb(89, 0, 124) solid;
    padding: 5px;
    font-size: 24px;
}
.if {
    background: rgba(0, 0, 0, 0.2);
    padding: 8px;
    flex: 0 0 200px;
    border: rgba(49, 0, 82, 0.308) 5px solid; 
}
.flx {
    display:flex; 
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.flx1{
    flex: 0 0 210px;
}
.item {
    display:flex; 
    flex-direction: row;
    align-items: center;
    width: 100%;
    background: rgba(255, 255, 255, 0.116);
    padding: 10px 10px 0 10px;
    flex: 1 1 1;
    border: 3px rgba(255, 255, 255, 0.288) solid;
}
.item:hover {
 filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.315));
    background: rgba(255, 255, 255, 0.295);
    border: 3px rgba(255, 255, 255, 0.521) solid;
}
.flx2 {
    flex: 1;
    padding: 10px;
    margin: 0 0 20px 0;
}
.ytd {
    filter: drop-shadow(0 0 10px rgb(120, 0, 136))  !important;
    border: 3px purple solid;
}
.if:hover {
    background: rgba(0, 0, 0, 0.4); 
}
.shadow {
    filter: drop-shadow(4px 4px 0 black);
    border: rgba(25, 0, 39, 0.493) 3px solid;
}
table tr:nth-child(even) {
  background: linear-gradient(45deg, rgba(128, 0, 128, 0.37), rgba(32, 0, 92, 0.308));
}
table tr:nth-child(odd) {
  background: rgba(0, 0, 0, 0.301); 
}
ol {
    text-align: left;
}
li {
    text-shadow: unset !important;
    color: unset !important;
}
.overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0 0 0 0;
      padding:  0 0 0 0;
      background: linear-gradient(180deg,rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.7) 100%);
    }
html {
    background-image: url("/tumblr_39130e5bed497a9b647e9d218a6a4a71_ba9c501b_500.gif") !important;
    z-index: 0;
    background-size: 100%;
    background-repeat: repeat;
}

* {
    font-family: "Comic Sans MS";
    text-shadow: 2px 2px 0px rgb(33, 0, 151), 4px 4px 0px rgb(0, 5, 78), 0 0 8px white !important;
    position: relative;
    color: white;
    background: none;
    text-shadow: black 3px 3px;
    z-index: 2;
}
body {
    font-size: 40px;
}
h1 {

    margin: 0 !important; 
    gap: 0 !important;
    padding: 0 !important;
    text-align: center;
    font-size: 140%;
}