html,
body {
    height: 100%;
    
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: scroll !important;
    /*background: linear-gradient(45deg, rgba(54, 0, 153, 1) 0%, rgba(0, 0, 0, 255) 100%);*/
}

html {
    background-image: url("/10d8d05e68a77c84a9b0317f51cb97a8.gif") !important;
    padding: 20px;
    margin: 20px;
}

/* .gallerydiv img {*/
/*   width: 70%;*/
/*   height: 100%;*/
/*   font-size: 100%;*/
/* }*/
.scaledpl {
    width: clamp(300px, 20vw, 1000px);
    height: auto;
    display: block;
    margin: 0 auto 1rem;
}

* {
    font-family: "Comic Sans MS";
    font-size: 130%;
    color: white;
    background: none;
    text-shadow: black 3px 3px;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0px !important;
}