html,
body {
    background-image: url("../ka8zh5tqwc991.gif") !important;
    background-size: contain;
    justify-content: center;
    
    /*background: linear-gradient(45deg, rgba(54, 0, 153, 1) 0%, rgba(0, 0, 0, 255) 100%);*/
}
html {
    padding: 20px;
}

/* .gallerydiv img {*/
/*   width: 70%;*/
/*   height: 100%;*/
/*   font-size: 100%;*/
/* }*/
tr, td {
    outline: 5px rgba(190, 146, 0, 0.438) solid;
    outline-offset: -1px;
    background-color: rgba(128, 94, 0, 0.37);
    padding: 5px;
    font-size: 24px !important; 
    
}
th{
    outline: 5px rgba(255, 196, 0, 0.664) solid;
    outline-offset: -1px;
    background-color: rgba(207, 152, 0, 0.616);
    padding: 5px;
    
}
.scaledpl {
    width: clamp(300px, 20vw, 1000px);
    height: auto;
    display: block;
    margin: 0 auto 1rem;
}
* {
    font-family: "Comic Sans MS";
    font-size: 28px;
    color: white;
    background: none;
    text-shadow: black 3px 3px;
    text-align: center;
}
#containerx {
    transition: opacity 1s ease;
    opacity: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0px !important;
    font-size: 125%;
}