html,
body {
    height: 100%;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: scroll !important;
    /*background: linear-gradient(45deg, rgba(54, 0, 153, 1) 0%, rgba(0, 0, 0, 255) 100%);*/
}
html {
    padding: 20px;
}
table {
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.479);
}
td,th {
    outline: 3px rgb(89, 0, 124) solid;
    padding: 5px;
    font-size: 24px;
}
ol {
    text-align: left;
}

.overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0 0 0 0;
      padding:  0 0 0 0;
      background: linear-gradient(180deg,rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.7) 100%);
    }
html {
    background-image: url("../../gl2.gif") !important;
    z-index: 0;
    background-size: 100%;
    background-repeat: repeat;
}

* {
    font-family: "95w";
    text-shadow: 2px 2px 0px rgb(81, 0, 128), -2px -2px 0px rgb(14, 0, 138);
    position: relative;
    color: white;
    background: none;
    text-shadow: black 3px 3px;
    z-index: 2;
}
body {
    font-size: 40px;
}
h1 {

    margin: 0 !important; 
    gap: 0 !important;
    padding: 0 !important;
    text-align: center;
    font-size: 140%;
}