html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    
}
html {
    background-color: #071d00 !important;
    z-index: 0;
}

* {
    position: relative;
    background: none;
    text-shadow: black 3px 3px;
    z-index: 2;
}
.lowop {
    opacity: 0.3;
}
.packgal {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1%; }

.packgal img {
    transition: filter 0.2s ease, width 0.2s ease;
    width: 98%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    filter: grayscale(0.5);
}.packgal img:hover {
    transition: filter 0.2s ease, width 0.2s ease;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    filter: grayscale(0) brightness(1.2) contrast(1.2);
}
#sungal img {
 border: 3px orange solid;
}
#musgal img {
 border: 3px rgb(255, 60, 0) solid;
}
#blugal img {
 border: 3px rgb(0, 89, 255) solid;
}
.cent {
    margin: 8px 0 8px 0;
}
.dph {
    filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.644)) !important;
}
.photonormal {
    width: 60%;
    filter: drop-shadow(0 0 10px rgb(0, 0, 141)) drop-shadow(3px 3px 0 rgb(0, 132, 255)) drop-shadow(-3px -3px 0 rgb(0, 132, 255));
    text-align: center;
}
.orangeglo {
    filter: drop-shadow(0 0 6px rgb(255, 221, 149)) drop-shadow(3px 3px 0 orange) drop-shadow(-3px -3px orange) !important;
}
.redglo {
    filter: drop-shadow(0 0 6px rgb(255, 62, 62)) drop-shadow(3px 3px 0 red) drop-shadow(-3px -3px red) !important;
}
.bluglo {
    filter: drop-shadow(0 0 6px rgb(0, 110, 255)) drop-shadow(3px 3px 0 rgb(0, 119, 255)) drop-shadow(-3px -3px rgb(0, 89, 255)) !important;
}
.orangehover {
    color: rgb(111, 255, 98) !important;
}
#scrollthing {
    color: white !important;
    font-family: "04b03" !important;
}
.orangehover:hover {
    color: rgb(180, 255, 180) !important;
}
#second {
    font-family: "04b03" !important;
    color: white;
    background: url('/nft.gif') repeat;
    background-size:contain;
    background-position: top center;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
font-size: 25px;

}
th, td {
    outline: 4px white solid;
    outline-offset: -1px;
    padding: 10px;
}
tr {
    background: rgba(0, 140, 255, 0.432);
}
#undersigma {
    top:0; left:0;
    font-family: "ArialPixel";
    
    font-size: 40px;
    color: rgb(111, 255, 98) !important;
    padding: 20px;
    margin: 20px;
}
.dwn {
    width: 98%;
    padding-top: 5px;
}
#loading {
    font-family: "ArialPixel";
    color: white;
}
.emoji {
    filter: drop-shadow(3px 3px 0 black); height: 30px; vertical-align: middle; 
}
h1 {

    margin: 0 !important; 
    gap: 0 !important;
    padding: 0 !important;
    text-align: center;
    font-size: 140%;
}