html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    
}
html {
    background-color: #071d00 !important;
    z-index: 0;
}

* {
    position: relative;
    background: none;
    text-shadow: black 3px 3px;
    z-index: 2;
}
.cent {
    text-align: center;
}
.photonormal {
    width: 60%;
    border: 5px rgb(55, 0, 128) solid;
    box-shadow: 0 0 10px blue;
    text-align: center;
}
#second {
    font-family: "04b03";
    color: white;
    background: url('/nft.gif') repeat;
    background-size:contain;
    background-position: top center;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
font-size: 30px;

}
#undersigma {
    top:0; left:0;
    
    color: rgb(111, 255, 98);
    font-family: "ArialPixel";
    font-size: 40px;
    padding: 20px;
    margin: 20px;
}
h1 {

    margin: 0 !important; 
    gap: 0 !important;
    padding: 0 !important;
    text-align: center;
    font-size: 140%;
}