* {
    font-family: "merriweather";
    color:white;
    z-index: 999;
}
html,
body {
    height: 100%;
    
    margin: 0;
    padding: 0;
    /*background: linear-gradient(45deg, rgba(54, 0, 153, 1) 0%, rgba(0, 0, 0, 255) 100%);*/
}
body {
    background: url('/orangesunset.gif');
    background-size: cover;
    background-attachment: scroll !important;
    background-repeat: no-repeat;
    z-index: 1;
    background-attachment: fixed;
}
.background {
                position: fixed !important;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(45deg, rgba(0, 0, 0, 0.897) 0%, rgba(255, 174, 0, 0.192) 100%);
                z-index: 2;
        }

.sigmahovernewz
{
    color: #ffa929;
}
.sigmahovernewz:hover {
    color:#d87a00
}
/*.covered:hover {
    filter: none;
    transition: filter 1s;
}
.covered {
    transition: filter 1s;
    filter: blur(10px);
}*/
