html,
body {
    height: 100%;
    padding:0;
    margin: 0;
    
    
}
@keyframes sx {
    from { background-position-x: 0;}
    to { background-position-x: 900px;}
}
#sa {
    padding: 10px;
    background: url('/darkgritty.png');
    background-size: 900px;
     text-shadow: black 3px 3px, 0 0 3px white;
    animation: sx 90s infinite linear;
    color:white;
    font-size: 24px;
    font-family: 'IBMVGA';
    font-weight: 1000;
}
@keyframes flicker {
    0% {
color: rgb(206, 206, 206);
    }
    33% {

color: rgba(255, 255, 255, 0.719);
    }
    50% {
color: white;
        }
        60% {
            color:transparent;
        }
        70% {
            color:white;
        }
        75% {
            color:transparent;
        }
        80% {
color: rgba(255, 255, 255, 0.76);
        }
        100% {
color: rgb(138, 138, 138);
        }
}
@keyframes rip {
    from {
        width: 100%;
    }
    to {
        width: 0;
        visibility: hidden;
    }
}
@keyframes ripz {
    from {
        background: black;
    }
    to {
background: rgba(0, 0, 0, 0.664);
    }
}

* {
    position: relative;
    background: none;
    z-index: 2;
}
