html,
body {
    height: 100%;
    
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: scroll !important;
    /*background: linear-gradient(45deg, rgba(54, 0, 153, 1) 0%, rgba(0, 0, 0, 255) 100%);*/
}
.overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0 0 0 0;
      padding:  0 0 0 0;
      background-color: rgba(0, 0, 0, 0.568); /* Dark overlay with 50% opacity */
    }
#maxwell:hover {
    transform:scaleX(-100%);
    transition: transform 0.5s ease;
}
hr {
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.541), rgba(255, 255, 255, 0.247));
    width: 50%;
    padding: 0;
    border: none;
    margin: 8px 0 2px 0;
    height: 4px;
    color: transparent;
}
.summer {

    all:unset;
    color: rgb(255, 196, 0);
    font-weight: bold;
}
.fall {

    all:unset;
    color: rgb(255, 238, 0);
    font-weight: bold;
}
.spring {
    all:unset;
    color: rgb(77, 170, 0);
    font-weight: bold;

}
.snow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('/snow.gif');
    background-size: 600px;
}
.imgtext {
    all:unset;  text-shadow: none; font-weight: bold; filter: drop-shadow(3px 3px 0 black);
}
.wintah {
    all:unset;
    color: rgb(0, 217, 255);
    font-weight: bold;
}
.lowop {
    all:unset;
    opacity: 0.3;
}
html {
    background-image: url("/chisel.png") !important;
    z-index: 0;
    padding: 20px;
    margin: 20px;
    background-size: 100px;
    background-repeat: repeat;
}
* {
    font-family: "Minecraft";
    position: relative;
    color: white;
    background: none;
    text-shadow: black 3px 3px;
    z-index: 2;
}
body {
    font-size: 40px;
}
h1 {

    margin: 0 0 6px 0 !important; 
    gap: 0 !important;
    padding: 0 !important;
    text-align: center;
    font-size: 140%;
}