html,
body {
    height: 100%;
    
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: scroll !important;
    /*background: linear-gradient(45deg, rgba(54, 0, 153, 1) 0%, rgba(0, 0, 0, 255) 100%);*/
}
.overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0 0 0 0;
      padding:  0 0 0 0;
      background-color: rgba(0, 0, 0, 0.5); /* Dark overlay with 50% opacity */
    }
#maxwell:hover {
    transform:scaleX(-100%);
    transition: transform 0.5s ease;
}
html {
    background-image: url("/chisel.png") !important;
    z-index: 0;
    padding: 20px;
    margin: 20px;
    background-size: 100px;
    background-repeat: repeat;
}
* {
    font-family: "Minecraft";
    position: relative;
    color: white;
    background: none;
    text-shadow: black 3px 3px;
    z-index: 2;
}
body {
    font-size: 40px;
}
h1 {

    margin: 0 !important; 
    gap: 0 !important;
    padding: 0 !important;
    text-align: center;
    font-size: 140%;
}